.userBox {
  display: block;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  background-color: rgb(218, 218, 218);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
