.profile {
  text-align: center;
}
.description {
  padding: 10px;
}
.avatar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  height: 75px;
  border-radius: 50%;
  background-color: #fff;
}
.name {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(19 / 18);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.tag {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 10px;
}
.location {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.icon {
  margin-right: 5px;
}
.stats {
  display: flex;
}
.stats li {
  flex-grow: 1;
  padding: 10px;
  border-right: 1px solid #eeeeee;
  background-color: #fff;
}
.stats li:not(:last-child) {
  border-right: 1px solid #eeeeee;
}
.label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.quantity {
  display: block;
  font-weight: 700;
}
