.section {
  width: 100%;
  background-color: aquamarine;
}
.title {
}
.item {
}
.friendList {
}
.status {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
.avatar {
}
.name {
}
