.statistics {
  background-color: pink;
}
.statList {
  display: flex;
}
.item {
  flex-grow: 1;
  padding: 10px;
}
.item:not(:last-child) {
  border-right: 1px solid #eeeeee;
}
.label {
  display: block;
  text-align: center;
  color: #fff;
}
.percentage {
  display: block;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
