:root {
  --color-white: #ffffff;
  --color-black: #010101;
  --color-green: #4caf50;
  --color-red: #f44336;
  --color-blue: #2196f3;
  --color-yellow: yellow;
  --color-primary-text: #212121;
  --color-secondary-text: #757575;
}

.section {
  background-color: rgb(192, 234, 251);
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #fff;
}

.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: fit-content;
  padding: 15px;
  background-color: antiquewhite;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}
